.link {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.link--primary {
  color: #999999;
  background-color: transparent;
}
.link--secondary {
  color: #666666;
  background-color: transparent;
}
.link--with-icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: text-top;
  position: relative;
  bottom: -0.125em;
  margin-right: 0.4em;
  padding: 10px 16px;
}
.link :hover :focus {
  cursor: pointer;
  transform: translateY(-1px);
  color: #444444;
}
